h1 {
    font-family: 'Times New Roman', Times, serif;
    color: #bb2a00;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    color: #bb2a00;
}
h3 {
    font-family: 'Times New Roman', Times, serif;
    color: #bb2a00;
}

h4 {
    font-family: 'Times New Roman', Times, serif;
    color: #bb2a00;
}

body {
    background-color: #ffddd0;
    margin: 15px;
}
